body {
  text-align: center;
  background-color: #C4D6B0;
  font-size: 25px;
}

section {
  background: #477998;
  border-radius: 10px;
  margin: 15px auto;
  max-width: 60%;
  padding: 20px;
}

p {
  margin: 0;
}

h1 {
  margin-bottom: 2.5px;
}

.whiteText {
  color: white;
}

input, select {
  background-color: white;
  border-radius: 5px;
  border-color: white;
}